[submodule "reactor/asio-udt"]
	path = reactor/asio-udt
	url = ../asio-udt
[submodule "drake"]
	path = drake
	url = ../drake
[submodule "reactor/asio-fs"]
	path = reactor/asio-fs
	url = ../asio-fs
[submodule "elle/src/elle/json/json-spirit"]
	path = elle/src/elle/json/json-spirit
	url = https://github.com/infinitdotio/json-spirit
[submodule "reactor/miniupnp"]
	path = reactor/miniupnp
	url = ../miniupnp
[submodule "cryptography"]
	path = cryptography
	url = ../cryptography
[submodule "reactor/libutp"]
	path = reactor/libutp
	url = ../libutp
